body

{
  background-color: #fbd139;
}

h1
{
  color: rgb(64, 255, 0);
  background-color: rgb(56, 147, 150);
}

#show_sketch
{
  float:right;
}

canvas
{
  border: 5px solid white;
  border-radius: 20px;
  animation-name: SIU;
  animation-duration: 5s;
  margin-top: 150px;
  animation-iteration-count: infinite;
}

@keyframes examples
{
  from {box-shadow: 1px 1px 38px chartreuse;}
  to {box-shadow: 1px 1px 38px burlywood;}
}

p
{
  padding-top: 10px;
  font-size: 25px;
}